$bg: #f6f9fe;
$blue--100: #2b71dc;
$blue--200: #1e345e;
$yellow--100: yellow;
$text-white-button: white;
$color--100: #2b71dc;
//font-size
$fs-sm: 14px;
$fs-base: 16px;
$fs-lg: 18px;
$fs-xl: 20px;
$fs-2xl: 24px;
$fs-3xl: 28px;
$fs-4xl: 32px;
$fs-title: 60px;

//bow-shadow
$bs-white: 0 2px 4px #e2ebfc;
$bs-black: rgba(0, 0, 0, 0.24) 0px 3px 8px;
